
{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
</div>
<div class="contact">
  <div class="single-container markdown">{{ .Content }}</div>
  <div id="comment-post">
    <h3>Leave a comment</h3>
    <script type="text/javascript">
        var comment = function(button){
          if ( !window.event.target.parentElement.reportValidity() ){
            return;
          }

          
          let keywords = ["slug"{{ range .Params.questions }}, {{- if eq .type "radio" }}{{ printf "%s-%s" (urlize .label) .type }}{{ else }}{{ urlize .label }}{{ end }}{{ end }}];

          let payload = {};
          keywords.forEach(function(item, index) {
              if (item.indexOf("-radio") !== -1 ) {
                var radioitem = item.split('-')[0]
                var ele = document.getElementsByName("fields["+radioitem+"]");
                payload[radioitem] = false
                for(i = 0; i < ele.length; i++) {
                  if(ele[i].checked)
                  payload[radioitem] = ele[i].value
                }
              }
              else {
                payload[item] = document.getElementById("form-"+item).value.trim();  
              }
              
          });
          console.log(payload)
          //payload["email"] = SparkMD5.hash(payload["email"]);
          fetch("https://publicactiontrigger.azurewebsites.net/api/dispatches/brtrdkeller/digitalinclusion", {
            method: 'POST',
            mode: 'no-cors',
            credentials: 'omit',
            cache: 'no-cache',
            redirect: 'error',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify({ event_type: 'interview', client_payload: { data: payload } })
          }).then(function(resp){
            if(resp.ok){
              document.getElementById("form-result").textContent = "Success."
              console.log(resp)
            } else if (resp.status == 422){
              resp.text().then(
                function(msg){
                  document.getElementById("form-result").textContent = "Error: "+msg;
                })
            }
          });
        }

    </script>
    
    <form>
        <input id="form-slug" name="options[slug]" type="hidden" value="{{ .Name }}">
        {{- range .Params.questions }}
        {{- if eq .type "radio" }}
        <fieldset id="form-{{ urlize .label }}-{{ .type }}">
          {{- $label := .label }}
          <legend>{{ .label }}</legend>
          {{- range .element }}
            <p>
              <label>
                {{ .label }}
              </label>
              <input name="fields[{{ urlize $label }}]" type="radio" value="{{ urlize .label }}">
            </p>
          {{ end -}}
        </fieldset>
        {{- else if eq .type "textarea" }}
        <p>
          <label>
            {{ .label }}{{ if .required }} required{{ end }}
          </label>
          <textarea id="form-{{ urlize .label }}" name="fields[{{ urlize .label }}]" type="{{ .type }}" rows=5 placeholder="{{ .placeholder }}"{{ if .required }} required{{ end }}>
          </textarea>
        </p>
        {{- else }}
        <p>
          <label>
            {{ .label }}{{ if .required }} required{{ end }}
          </label>
          <input id="form-{{ urlize .label }}" name="fields[{{ urlize .label }}]" type="{{ .type }}" placeholder="{{ .placeholder }}"{{ if .required }} required{{ end }} />
        </p>
        {{ end }}
        {{ end }}
        <input type="button" value="Submit" onclick="comment()" ></input>
        <p id="form-result"></p>
    </form>
  </div>
</div>
{{ end }}