{{ define "main" -}}
<div class="container">
  <section class="page-header">
    <h1 class="page-header-title">{{ .Title }}</h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- end -}}
    </p>
  </section>
  <section>
    {{ range where .RegularPagesRecursive "Title" "ne" "Model"}}
     {{ range .Params.data }}
      
     {{ end }}
    {{ end }}
  </section>
  <section>
    {{ range (sort (where .RegularPagesRecursive "Title" "ne" "Model") "Params.date" "asc") }}
    {{ if in .Permalink "digital-accessibility" }}
    <div>
        <div class="project-entry-info">
          <h3 class="project-entry-title">
            <a href="{{ .Permalink }}">{{ with .Title }}{{ . }}{{ else }}{{ .Params.name }}{{ end }}</a>
            <sup>{{ partial "general/label-drafts.html" . }}</sup>
            {{ if ne .Params.data.sector "" }}- <small>{{ .Params.data.sector }}</small>{{ end }}
          </h3>
          {{ with .Params.date }}<time>{{ time.Format "2 Jan 2006" . | safeHTML }}</time>{{ end }}
          <div class="project-list-meta">
            {{ with .Params.techstack }}
            {{ range . }}
              <span>{{ . }}</span>
            {{ end }}
            {{ end }}
          </div>
          {{- if (index .Params.data "first-win") -}}
          <p class="project-list-summary">
            <strong>Première Pierre :</strong> {{ index .Params.data "first-win" }}
          </p>
          {{- end -}}
        </div>
      </div>
    {{ end }}
    {{ end }}
  </section>
</div>
{{ end }}