{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ with .Title }}{{ . }}{{ else }}{{ .Params.name }}{{ end }}</h1>
  </section>
</div>
<section class="generic-single container">
  <div class="single-container markdown">
    
    {{ $path := "form/digitala11y" }}
    {{ range last 1 (readDir $path) }}
        {{ range $key, $value := index (unmarshal (readFile (printf "%s/%s" $path .Name))) "form" }}
        {{ range .questions }}
           {{ if ne .name "name" }}
           {{ if index $.Params.data .name }}
            <strong>{{ .label }}</strong><br>
            {{ index $.Params.data .name }}<br><br>
            {{ end }}
            {{ end }}
        {{ end }}
        {{ end }}
    {{ end }}
    <h2>Questions semi-dirigées</h2>
    {{ .Content }}
  </div>
</section>
{{ end }}