{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
</div>
<section class="generic-single">
  <div class="single-container{{ if eq .Title "Roadmap"}} large{{ end }} markdown">
    {{ partialCached "content.html" .Content .Content }}
    {{ if eq .Type "workshops" }}
      {{ $ctx := . }}
      {{- with $ctx.Params.sorte -}}
        <p><strong>Type :</strong>ss {{ . }}</p>
      {{- end -}}
      <div class="project-list-summary">
        {{- with $ctx.Description -}}
          {{ . | markdownify }}
        {{- end -}}
      </div>
      <div class="project-list-footer">
      {{- if and $ctx.Params.persons $ctx.Params.days -}}
        <p><strong>Nombre de personnes à mobiliser :</strong> {{ $ctx.Params.persons }} personnes pendant {{ $ctx.Params.days }} jours</p>
      {{- end -}}
    {{ end }}
  </div>
</section>
{{- end -}}