{{ define "main" }}
<div class="container">
  <section class="page-header--c">
    <h1 class="page-header-title">{{ .Title }}</h1>
  </section>
</div>
<section class="generic-single">
  <div class="single-container{{ if eq .Title "Roadmap"}} large{{ end }} markdown">
    {{ .Content }}
    {{ if eq .Title "Roadmap"}}
      <h2>Tableau de tâches en fonction des chantiers</h2>
      {{ range .Site.Data.roadmap.theme }}
        {{ range .topics }}
        {{ with .activities }}
          {{ range . }}
            {{ with .charge }}
              {{ range $key, $value := . }}
                {{ $key := (string (index $.Site.Data.month $key)) }}
                {{ $.Scratch.Set $key dict }}
                {{ $.Scratch.Set (printf "%s-time" $key) slice }}
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- range .Site.Data.roadmap.theme }}
        {{- $nametheme := .name }}
        <h3>{{ .name }}</h3>
          <table>
            <thead>
              <tr>
                <th>Sujet</th>
                <th>Activité</th>
                <th>Temps</th>
                <th>DeadLine</th>
                {{ range seq 4 }}
                  <th style="width:100px">{{ substr (index $.Site.Data.month (string .)) 0  }}</th>
                {{ end }}
              </tr>
            </thead>
          <body>
          {{- range .topics }}
            {{- $nametopics := .name }}
              {{- with .activities }}
              {{- range $id, $value := . }}
                {{- $nameactivities := .name }}
                {{- $durationactivities := .duration }}
                {{- $deadlineactivities := .deadline }}        
                {{- with .charge }}                    
                  <tr>
                    <td style="width:250px"><strong>{{ $nametopics }}</strong></td>
                    <td>{{ $nameactivities }}</td>
                    <td>{{ with $durationactivities }}{{ . }} j{{ else }}-{{- end -}}</td>
                    <td>{{ with $deadlineactivities }}{{ . }}{{ else }}-{{- end -}}</td>
                    {{- range $key, $value := . }}
                      {{ $key := (string (index $.Site.Data.month $key)) }}
                      {{ $.Scratch.Set $key (merge (dict $nameactivities .) ($.Scratch.Get $key)) }}
                      {{ $.Scratch.Add (printf "%s-%s-time" $key $nametheme) . }}
                      {{ $.Scratch.Add (printf "%s-timetotal" $key) . }}
                      {{ $.Scratch.Add (printf "%s-%s-timetotal" $key $nametheme) . }}
                      {{ $.Scratch.SetInMap (printf "roadmap%s" $nametheme) $key ($.Scratch.Get $key) }}
                    {{- end -}}
                    {{ range seq 4 }}
                      <td>{{ with (index (index ($.Scratch.Get (printf "roadmap%s" $nametheme)) (string .)) $nameactivities) }}{{ . }}%{{ else }}0{{ end }}</td>
                    {{ end }}
                </tr>  
                {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          </body>
          <tfoot>
            <tr>
            <th colspan="4">
              Total
            </th>
            {{ range seq 4 }}
              <td>{{ with $.Scratch.Get (printf "%s-%s-timetotal" (string .) $nametheme) }}{{ . }}%{{ else }}0{{ end }}</td>
            {{ end }}
          </tr>
          </tfoot>
        </table>
      {{- end -}}
    {{- end -}}
    <h3>Total</h3>
    <table>
      <thead>
        <tr>
          <td colspan="4"></th>
          {{ range seq 4 }}
            <th style="width:100px">{{ substr (index $.Site.Data.month (string .)) 0 }}</th>
          {{ end }}
        </tr>
      </thead>
    <tfoot>
      <tr>
        <th colspan="4">
          Total
        </td>
        {{ range seq 4 }}
          <td>{{ with $.Scratch.Get (printf "%s-timetotal" (string .)) }}{{ . }}%{{ else }}0{{ end }}</td>
        {{ end }}
      </tr>
    </tfoot>
  </table>
    
  </div>
</section>
{{- end -}}