<div class="container">
  <section class="page-header">
    <h1 class="page-header-title">
      {{- if eq .Kind "term" -}}
        {{- .Title }} Projects
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
    </h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- else -}}
        {{- with .Description -}}
          {{- . -}}
        {{- else -}}
          {{- if eq .Kind "term" -}}
            {{- .Title }} projects
          {{- end }}
        {{- end -}}
      {{- end -}}
    </p>
  </section>
  <section>
    {{ partialCached "content.html" .Content .Content }}
    {{ if in .Permalink "ts/offers" }}
    
    {{ with .Pages }}
      {{ range (where (where . ".Params.sitemapExclude" "ne" "true" ) "Params.genre" "eq" "page") }}
      <div class="container--sm section-offers">
      <details>
      <summary><h2 class="d-inline">{{ .Title }}</h2></summary>
      {{ partialCached "content.html" .Content .Content }}
      <img style="width: 28%" src="{{ (.Parent.Resources.GetMatch "montee-competence-real.png").Permalink }}">
      {{ end }}
      </details>
      </div>
      <h2>Offre détaillée</h2>
      {{ $workshops := ($.Site.GetPage "workshops") }}
      <div class="grid-offer offers gap-null">
        <div class="item r background-0" style="--grid-place: r0"><p><strong>Sociale</strong></p></div>
        <div class="item r background-1" style="--grid-place: r1"><p><strong>Métiers</strong></p></div>
        <div class="item r background-2" style="--grid-place: r2"><p><strong>Technique</strong></p></div>
        <div class="item c" style="--grid-place: c0"><strong>Pack 1<br>Evaluation</strong></div>
        <div class="item c" style="--grid-place: c1"><strong>Pack 2<br>Respect Mission</strong></div>
        <div class="item c" style="--grid-place: c2"><strong>Pack 3<br>Transformation</strong></div>
        {{ range  $id, $value := $workshops.RegularPagesRecursive.GroupByParam "pack" }}
            {{ $pages := .Pages }}
            {{ range $key, $value := $workshops.Sections }}
            <div class="grid-card p-all background-{{ $key }} item" style="--grid-place: e{{ $id }}{{ $key }}">
              {{ range $key, $value := sort .Pages "Params.pack" "asc" }}
              {{ with (where $pages "Title" .Title) }}
                {{ range . }}
                  {{ partial "projects/project-offers.html" (dict "context" . "id" $id "key" $key "style" "small") }}
                {{ end }}
              {{ end }}
              {{ end }}
            </div>
            {{ end }}
        {{ end }}
      </div>
      
      {{ range  $id, $value := ($.Site.GetPage "workshops").Sections }}
        <h3 class="title-color{{ if gt ($id) 0 }} title-separator{{ end }}">{{ add $id 1 }} - {{ .Title }}</h3>
        <p>{{ .Params.description | markdownify }}</p>
        <div class="project-list offers">
        {{ range $key, $value := sort .RegularPages "Params.pack" "asc"  }}
          {{ partial "projects/project-offers.html" (dict "context" . "id" $id "key" $key) }}
        {{ end }}
        </div>
      {{ end }}
    {{ end }}
    <hr>
    <h2>Exemples de différentes offres</h2>
    {{ end }}
    {{ with .Pages }}
      <div class="project-list">
        {{ range where (where . ".Params.sitemapExclude" "ne" "true" ) "Params.genre" "ne" "page" }}
          {{ partial "projects/project-entry.html" . }}
        {{ end }}
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </section>
</div>