<div class="container">
  <section class="page-header">
    <h1 class="page-header-title">
      {{- if eq .Kind "term" -}}
        {{- .Title }} Projects
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
    </h1>
    <p class="page-header-desc">
      {{- with .Params.Summary -}}
        {{- . -}}
      {{- else -}}
        {{- with .Description -}}
          {{- . -}}
        {{- else -}}
          {{- if eq .Kind "term" -}}
            {{- .Title }} projects
          {{- end }}
        {{- end -}}
      {{- end -}}
    </p>
  </section>
  <section>
    {{ partialCached "content.html" .Content .Content }}
    {{ if in .Permalink "ts/offers" }}
    {{ with .Pages }}
      {{ range (where (where . ".Params.sitemapExclude" "ne" "true" ) "Params.genre" "eq" "page") }}
      <div class="container--sm section-offers">
      <h2>{{ .Title }}</h2>
      {{ partialCached "content.html" .Content .Content }}
      <img style="width: 28%" src="{{ (.Parent.Resources.GetMatch "montee-competence-real.png").Permalink }}">
      {{ end }}
      </div>
      <h2>Offre détaillée</h2>
      {{ range  $id, $value := ($.Site.GetPage "workshops").Sections }}
        <h3 class="title-color{{ if gt ($id) 0 }} title-separator{{ end }}">{{ add $id 1 }} - {{ .Title }}</h3>
        <p>{{ .Params.description | markdownify }}</p>
        <div class="project-list offers">
        {{ range $key, $value := .RegularPages }}
          {{ partial "projects/project-offers.html" (dict "context" . "id" $id "key" $key) }}
        {{ end }}
        </div>
      {{ end }}
    {{ end }}
    <hr>
    <h2>Exemples de différentes offres</h2>
    {{ end }}
    {{ with .Pages }}
      <div class="project-list">
        {{ range where (where . ".Params.sitemapExclude" "ne" "true" ) "Params.genre" "ne" "page" }}
          {{ partial "projects/project-entry.html" . }}
        {{ end }}
      </div>
    {{ else }}
      {{ partial "general/fallback-text.html" . }}
    {{ end }}
  </section>
</div>