@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/switch-theme',
  'components/socials',
  'components/buttons',
  'components/newsletter',
  'components/pagination',
  'components/draft-label',
  'components/clipboard',
  'components/code-highlight',
  'components/markdown',
  'components/toc',
  'components/page-header';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/contact',
  'pages/single',
  'pages/terms',
  'pages/errors',
  'pages/post-list',
  'pages/project-list';


h2 {
  color: #085279;
}

.enlarge-link {
  position: relative;
}

.enlarge-link a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline-offset: 2px;
  outline-style: inherit;
  outline-color: inherit;
  outline-width: 2px;
  z-index: 1;
}