<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="preload" href="{{ $.Site.BaseURL | default "/" }}js/bigSlide.js" as="script" />
    <script src="{{ $.Site.BaseURL | default "/" }}js/bigSlide.js"></script>
    <link rel="preload" href="{{ $.Site.BaseURL | default "/" }}css/fonts.css" as="style">
    <link rel="stylesheet" href="{{ $.Site.BaseURL | default "/" }}css/fonts.css"/>
    <link rel="stylesheet" href="{{ $.Site.BaseURL | default "/" }}css/simple.css">
    <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>
</head>

<body class="light">
    {{ $path := "" }}
    {{ with .File }}
        {{ $path = path.Dir .Path }}
    {{ else }}
        {{ $path = path.Dir .Path }}
    {{ end }}
    <div data-body-style="background: #222; color: #fff;">
        {{ .Title }}
    </div>
    {{ $slides := .Params.slides }}
    {{ range $key, $value := $slides }}
    <div {{ with .part }} data-body-style="background: #164791; color: #fff;"{{ end }}>
        <p class="slide-number"><span class="invisible">Slide numéro</span> {{ add $key 1 }}/{{ (len $slides) }}</p>
        <span class="progress" style="width: {{ div (mul (add $key 1) 100) (len $slides) }}%;"></span>
        {{ with .part }}<h1>{{ replace . " ?" "&nbsp;?" | safeHTML}}</h1>{{ end }}
        {{ with .title }}<h2>{{ replace . " " "&nbsp;" | safeHTML }}</h2>{{ end }}
        {{ with .image }}
            {{ $collection := union ($.Parent.Resources.ByType "image") ($.Resources.ByType "image") -}}
            {{ $image := ($collection.GetMatch (printf "{**/,*}%s" .)) }}
            {{ if $image }}
                {{ if in . ".svg" }}
                    {{ readFile (printf "./content/%s/%s" $path $image) | safeHTML }}
                {{ else }}
                    <img src="{{ $image.Permalink }}" alt="">
                {{ end }}
            {{ else }}
            <h2>Image missing or wrong name</h2>
            {{ end }}
        {{ end }}
        {{ with .texte }}{{ . | markdownify | safeHTML }}{{ end }}
    </div>
    {{ end }}
</body>

</html>