{{ define "main" -}}
<div class="container">
  <ul class='timeline'>
    <li class="work">
      <input class='radio' id='work' name="works" type="radio">
      <div class="relative">
        <label for="">Actions</label>
        <span class="date">{{- if .Date -}}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "2006/01/02" | safeHTML }}</time>{{ else }}Date à définir{{ end }}</span>
        <span class="circle"></span>
      </div>
      <div class="content">
        <p>
          {{- if .Params.description -}}
          {{ .Params.description }}
          {{ else }}
          Pas de description.
          {{- end -}}
        </p>
      </div>
    </li>
  </ul>
  </div>
  {{ partial "projects/projects.html" . }}
{{ end }}